.navbar-imgb{
  width: 54px !important;
  height: 38px !important;
}

.hero-section{
background: linear-gradient(180deg, rgba(236, 178, 46, 0.0754) 0%, rgba(255, 255, 255, 0.1144) 100%);
height: 1060.86px;
}
.nav-item{
  margin: auto 24px!important;
}
.nav-link{
  font-family: 'Poppins' !important;
font-style: normal !important;
font-weight: 500!important;
font-size: 14.6042px!important;
line-height: 22px!important;
/* identical to box height */
color: rgba(0, 0, 0, 0.81) !important;

}

.btn1{
  background: #FCC028 !important;
  border-radius: 4.86806px !important;
  padding: 10px 29.2083px !important;
gap: 10px !important;

/* font */
color: #FFFFFF !important;
font-family: 'Poppins' !important;
font-style: normal !important;
font-weight: 500 !important;
font-size: 14.6042px !important;
line-height: 22px !important;
}
