.navbar-imgb {
  width: 54px !important;
  height: 38px !important;
}

.hero-section {
  background: linear-gradient(180deg, rgba(236, 178, 46, 0.0754) 0%, rgba(255, 255, 255, 0.1144) 100%);
  min-height: 100vh !important;
}

.nd-section {
  min-height: 100vh !important;
}

.nav-item {
  margin: auto 24px !important;
}

.nav-link {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14.6042px !important;
  line-height: 22px !important;
  /* identical to box height */
  color: rgba(0, 0, 0, 0.81) !important;
}

.btn1 {
  background: #FCC028 !important;
  border-radius: 4.86806px !important;
  padding: 10px 29.2083px !important;
  gap: 10px !important;
  /* font */
  color: #FFFFFF !important;
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14.6042px !important;
  line-height: 22px !important;
}

.btn2 {
  border-radius: 4.86806px !important;
  padding: 10px 29.2083px !important;
  gap: 10px !important;
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 14.6042px !important;
  line-height: 22px !important;
  /* identical to box height */
  color: #000000 !important;
}

.margin1 {
  margin-left: 7% !important;
  margin-right: 7% !important;
}

.margin2 {
  margin-top: 7% !important;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Poppins' !important;
  font-style: normal !important;
}

h5 {
  font-weight: 400 !important;
  font-size: 17.525px;
  line-height: 26px !important;
  color: #FCC028 !important;
}

h1 {
  font-weight: 600 !important;
  font-size: 70.8037px !important;
  line-height: 106px !important;
  color: #000000;
}

.edit-h1 {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 38.9444px !important;
  line-height: 58px !important;
  color: rgba(0, 0, 0, 0.81) !important;
}

h3 {
  font-weight: 400 !important;
  font-size: 23.3667px !important;
  line-height: 35px !important;
  /* identical to box height */
  color: #207733 !important;
}

h4 {
  font-weight: 400 !important;
  font-size: 10.8861px !important;
  line-height: 16px !important;
}

h6 {
  font-weight: 400 !important;
  font-size: 9.52535px !important;
  line-height: 14px !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

p {
  font-weight: 400 !important;
  font-size: 17.525px !important;
  line-height: 26px !important;
  color: rgba(0, 0, 0, 0.5) !important;
}

.button-hero {
  margin: 30px auto;
}

.pading-card {
  margin: 14px 18px 0px 18px !important;
}

.card {
  width: 60% !important;
  margin: 30px 0 100px 0 !important;
}

/* second section */
.img-nd-section {
  text-align: center !important;
}

.img-nd-section1 {
  height: 95% !important;
}

.text-mark {
  margin-left: 10px !important;
}

.h5-edit {
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-size: 15.5778px !important;
  line-height: 23px !important;
}

.h5-edit-color2 {
  font-weight: 500 !important;
  color: #FCC028 !important;
}

.h5-edit-color1 {
  color: #000000 !important;
  font-weight: 400 !important;
}

.margin3 {
  margin: 16px 0 !important;
}

.margin4 {
  margin-top: 4% !important;
}

footer {
  background: #FCC028;
}

.footer-text {
  text-align: center;
  margin: 0;
  font-size: 10px !important;
  color: white !important;
  padding: 10px !important;
}

@media screen and (max-width: 992px) {
  .navbar-imgb {
    width: 120px !important;
    height: 90px !important;
  }

  .navbar-toggler-icon{
    font-size: 40px;
  }

  .nav-link{
    font-size: 30px !important;
    margin-top: 20px!important;
  }

  .col-lg-61 {
    margin: auto !important;
    text-align: center !important;
  }

  .card1 {
    margin: 15px auto !important;
    display: flex;
    justify-content: center;
  }

  h1{
    margin: 20px auto !important;

    font-size: 100px !important;
    line-height: 180px !important;
  }

  h3{
    margin: 50px auto !important;

    font-size: 46px !important;
  }
  h4{
    margin: 10px auto !important;

    font-size: 30px !important;

  }

  h5{

    font-size: 50px !important;
  }

  .h5-edit {
    font-size: 26.5778px !important;
  }

  h6{
    font-size: 30px !important;
    line-height: 35px !important;
  }

  p{
    margin: 50px auto !important;
    font-size: 36px !important;
    line-height: 54px !important;
  }

  .btn1{
    padding: 20px 30px !important;
  font-size: 30px!important;
  }
  .btn2{
    padding: 20px 30px !important;
  font-size: 30px!important;
  }
  .img23{
    height: 40px !important;
    width: auto;
  }
  .img344{
    height: 80px !important;
    width: auto;
  }
  .text-mark {
    margin-top: 15px !important;

  }
  .button-hero {
    margin: 90px auto;
  }
  
  .card {
    margin: 40px auto !important;
    width: 100% !important;
  }
  .pading-card {
    margin: 20px 30px 0px 30px !important;
  }
  .card-body{
    margin: 20px 30px 0px 30px !important;

  }
  .img3333{
    margin-top: 100px!important;
  }
}
